* {
    margin: 0; 
    padding: 0;
    box-sizing: border-box;
}
body {
    height: 100vh; 
    /* font-family: 'lato', 'Arial', sans-serif; */
    font-weight: 300;
    font-size: 20px;
    /* text-rendering: optimizeLegibility; */
}
/* ==== ====  NAVBAR COMPONENT ==== ==== */
.main {
    display: flex; 
    flex-direction: column;
    align-items: center; 
    height: 100vh;
    background-color: aliceblue;
}
.title {
    text-align: center;
    padding: 15px 0;
}
nav {
    display: flex; 
    justify-content: space-between;
    align-items: center;
    height: 50px;
    width: 100%;
    background-color: rgba(202, 202, 202, 0.6); 
}
.logo-text {
    margin-left: 15px; 
}
h1 {
    font-size: 130%; 
    font-weight: 400;
}
h2 {
    font-size: 110%;
    /* font-weight: 400; */
    text-align: center;
}
ul {
    display: flex;
    justify-content: space-around;
    margin-right: 15px; 
    width: 40%;
    text-decoration: none;
    font-size: 90%;
    font-weight: 400;   
}
li {
    list-style-type: none;

}
a {
    text-decoration: none;
    /* font-size: 90%; */
}

/* ==== ====  ABOUT COMPONENT  ==== ==== */
.about {
    display: flex;
    /* justify-content: center; */
    width: 60%;
    padding: 10px; 
    background-color: rgb(226, 226, 226);
    border: 3px solid white; 
    border-style: groove; 
}
.about p {
    text-align: center;
    padding: 5px; 
    line-height: 120%;
    font-size: 130%;
    /* letter-spacing: 0.5px; */
    word-spacing: 2px; 
}

/* ==== ====  IMAGE COMPONENT  ==== ==== */
.images {
    display: flex; 
    justify-content: space-around;
    flex-wrap: wrap;
    align-items: center;
    height: 80vh;
}
img {
    height: 250px;
    margin: 6px;

}

/* ==== ==== WEATHER COMPONENT  ==== ==== */
.weather {
    display: flex; 
    flex-direction: column;
    align-items: center; 
}
.weather h1 {
    margin-bottom: 5px; 
}
.weather-display {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    justify-content: center; 
    align-items: center; 
    background-color: rgb(216, 238, 252);
    width: 200px; 
    height: 120px;
    border: 3px solid rgb(170, 222, 255);
    border-style: groove; 

}
/* ==== ==== MAYOR MESSAGE  ==== ==== */
.message {
    height: 0;
}